{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Manage Products</h2>

<div class="table-responsive">

<table class="table table-bordered table-striped align-middle">

<thead class="table-dark">
<tr>
<th>ID</th>
<th>Image</th>
<th>Name</th>
<th>Price</th>
<th>Category</th>
<th>Stock</th>
<th>Actions</th>
</tr>
</thead>

<tbody>

{% for product in products %}

<tr>

<td>{{ product.id }}</td>

<td>
<img src="{{ product.image }}" style="width:70px;height:70px;object-fit:cover;">
</td>

<td>{{ product.name }}</td>

<td>₹ {{ product.price }}</td>

<td>{{ product.category }}</td>

<td>{{ product.stock }}</td>

<td>

<a href="/admin/edit-product/{{product.id}}" class="btn btn-sm btn-primary">
Edit
</a>

<a href="/admin/delete-product/{{product.id}}" class="btn btn-sm btn-danger">
Delete
</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}